.home-hero-img-services {
	.hero {
		padding-top: clamp(5.625rem, 3.982rem + 8.214vw, 11.375rem);
		padding-bottom: 44px;
		.bg {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top;
			width: 104%;
			height: 100vh;
			left: -2%;
			z-index: 1;
		}
		.heading {
			padding-bottom: 1rem;
		}
		.copy {
			padding-bottom: rem-calc(44);
		}
	}
	.hero-gradient-section {
		padding-top: clamp(1.188rem, -0.438rem + 8.125vw, 6.875rem);
		padding-bottom: clamp(4rem, 3rem + 5vw, 7.5rem);
		.hero-gradient {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EFF2E0 32.69%, #E7F2C7 67%, #C4D989 100%);
		}
		.image {
			margin-bottom: clamp(3.75rem, 2.714rem + 5.179vw, 7.375rem);
			img {
				border-radius: 64px;
			}
		}
		.services {
			.section-header {
				margin-bottom: clamp(1rem, 0.429rem + 2.857vw, 3rem);
			}
		}
		.services-slider {
			.swiper {
				overflow: visible;
			}
			.inner {
				max-width: calc(100% - 20px);
				@include breakpoint(medium) {
					max-width: calc(100% - 40px);
				}
				@include breakpoint(large) {
					max-width: 100%;
				}
			}
			.swiper-slide {
				box-sizing: border-box;
				height: auto;
				padding: rem-calc(32);
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border-radius: rem-calc(48);
					background: rgba(255, 255, 255, 0.20);
					margin-bottom: rem-calc(32);
					box-shadow: $glow-on-light-pre-hover;
					transform: scale(1);
					transition: transform .4s ease, box-shadow .4s ease, background-color .4s ease;
					
				}
				.service-card-arrow-icon {
					transform: scale(1);
					transition: transform .4s ease;
				}
				.icon-wrap {
					border-radius: rem-calc(32);
					background: rgba(255, 255, 255, 0.30);
					margin-bottom: rem-calc(28);
					aspect-ratio: 16/9;
					padding: 2rem;
					transition: background-color .4s ease;
					&:before {
						content: '';
						display: block;
						width: 95.354%;
						height: 169.52%;
						background-color: $blue-100;
						filter: blur(117px);
						position: absolute;
						top: 50%;
						left: 50%;
						opacity: 0;
						transform: scale(.9) translate(-50%, -50%);
					}
					svg {
						transform: scale(1);
						transition: transform .4s ease;
						path {
							transition: all .4s ease;
						}
					}
				}
				&:hover {
					a {
						background-color: $white;
						transform: scale(1.025);
						box-shadow: 0 6px 140px 0 $green-100;
					}
					.service-card-arrow-icon {
						transform: scale(1.15);
					}
					.icon-wrap {
						background-color: $slate;
						&:before {
							opacity: 1;
							transform: scale(1) translate(-50%, -50%);
							transition: opacity .4s ease, transform .4s ease;
						}
						svg {
							transform: scale(1.2);
							transition: transform .4s ease;
							path {
								stroke: $white;
							}								
						}
					}
				}
			}
		}
	}
}