.content-section.post-rows {
	.loop-post-row {
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		box-sizing: border-box;
		@include breakpoint(tablet) {
			margin-bottom: 3rem;
		}
	}
	@include breakpoint(tablet) {
		.wrapper {
			.loop-post-row {
				max-width: none;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}