footer#colophon {
	padding-top: rem-calc(64);
	padding-bottom: rem-calc(64);
	.bg {
		background-repeat: repeat;
		mix-blend-mode: overlay;
	}
	.logo-address-wrap {
		margin-bottom: clamp(1.375rem, 0.946rem + 2.143vw, 2.875rem);
		@include breakpoint(medium only) {
			align-items: center;
		}
		.logo-address-wrap {
			@include breakpoint(medium only) {
				align-items: center;
			}
		}
	}
	.logo-wrap {
		margin-bottom: clamp(1.375rem, 0.946rem + 2.143vw, 2.875rem);
		@include breakpoint(medium only) {
			margin-bottom: 0;
		}
	}
	.contact-methods {
		margin-bottom: clamp(1.375rem, 0.946rem + 2.143vw, 2.875rem);
		> ul {
			gap: rem-calc(13);
		}
		a {
			padding: 0;
			display: inline;
			color: $white;
			transition: color .3s ease;
			&:hover {
				color: $green-60;
			}
		}
	}	
	.menu:not(.social-links) a {
		color: $green-60;
		@extend .p-sm;
		position: relative;
		padding: 0.4em 0;
		display: inline;
		text-decoration-line: underline;
		text-decoration-color: $green-60;
		text-decoration-style: solid;
		text-decoration-thickness: 1px;
		text-underline-offset: .5em;
		transition: text-decoration-color .3s ease, color .3s ease;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 0.5em;
		}
		&:hover {
			color: $green-60;
			text-decoration-color: transparent; 
			transition: text-decoration-color .6s ease, color .6s ease;
		}
	}	
	ul#footer-links {
		gap: 2rem;
		margin-bottom: clamp(2.938rem, 2.509rem + 2.143vw, 4.438rem);
	}
	ul.social-links {
		gap: 1rem;
		li a {
			aspect-ratio: 1/1;
			display: inline-flex;
			padding: .5625rem;
			border-radius: rem-calc(12);
			transition: background-color .4s ease, border-color .4s ease;
			svg path {
				transition: .4s ease;
			}
			&:hover {
				background-color: $green-100;
				border-color: $green-100;
				svg path {
					stroke: $blue-100;
				}
			}
		}
	}
	
	.footer-cta {
		@include breakpoint(tablet down) {
			margin-bottom: rem-calc(48);
		}
		.cta-inner {
			border-radius: clamp(1rem, 0.429rem + 2.857vw, 3rem);
			padding: clamp(1.5rem, 1.071rem + 2.143vw, 3rem);
		}
	}
	
	.site-info {
		@include breakpoint(medium) {
			padding-top: clamp(2rem, 1.464rem + 2.679vw, 3.875rem);
		}
		.copyright {
			@include breakpoint(medium down) {
				margin-bottom: 2rem;
			}
		}
		.menu.subfooter-links {
			display: inline-flex;
			li {
				display: inline-flex;
			}
		}
	}
	
}