footer#colophon {
	.bg {
		background-repeat: repeat;
		mix-blend-mode: overlay;
	}
	.contact-methods {
		a {
			padding: 0;
			display: inline;
			color: $white;
			transition: color .3s ease;
			&:hover {
				color: $green-60;
			}
		}
	}
	
	
	
	.site-info {

	}
	
	.left {
		.bottom {
			@include breakpoint(medium down) {
				padding-bottom: 4.1rem;
			}
		}
	}
	
	.menu a {
		color: $green-60;
		@extend .p-sm;
		position: relative;
		padding: 0.4em 0;
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top: calc(100% - 1px);
			width: 100%;
			height: 1px;
			background-color: $green-60;
			transition: opacity .3s ease, height .3s ease;
		}
		&:hover {
			&:before {
				height: .5px;
				opacity: 0;
				transition: opacity .6s ease, height .6s ease;
			}
		}
	}
		
	ul#footer-links {
		gap: 2rem;
		@include breakpoint(medium down) {
			padding-bottom: 4.08rem;
		}
		li {
			a {
			}
		}
	}
	
	.site-info {
		.menu.subfooter-links {
			display: inline-flex;
			li {
				display: inline-flex;
			}
		}
	}
	
}