#main-nav {
	.is-dropdown-submenu-parent > a::after, 
	.is-accordion-submenu-parent .submenu-toggle::after { 
		border: 0; 
		content: ''; 
		display: inline-block; 
		width: 12px; 
		height: 7px; 
		position: relative; 
		right: auto; 
		margin-left: .7rem; 
		transform: translateY(-.1em); 
		background-image: url('../assets/svgs/dropdown-chev-white-icon.svg'); 
		transition: background-image .3s ease, transform .3s ease; 
		transform-origin: center;
	}
	a { 
		font-size: rem-calc(18); 
		font-weight: 500; 
		border-radius: 1rem; 
		position: relative; 
		cursor: pointer; 
		pointer-events: auto !important; 
		transition: background-color .3s ease, color .3s ease 0s; 
		@include breakpoint(medium down) {
			color: $white; 
		}
	}
	> li.menu-button {
		margin-top: 1.5rem;
		width: 100%;
		text-align: center;
		@extend .is-style-green-100;
		> a {
			width: calc(100% - 48px);
			@extend .button;
		}
	}
	.is-accordion-submenu-parent .submenu-toggle[aria-expanded="true"]::after,
	.is-dropdown-submenu-parent.is-active > a::after {
		transform: rotateX(180deg) translateY(0.1em);
	}
}

#main-nav.accordion-menu {
	padding: 2rem 0;
	ul.submenu {
		width: calc(100% - 46px);
		margin: auto;
		margin-top: 1rem;
		> li.menu-item {
			margin-bottom: 1rem;
			.submenu-toggle {

			}
		}
	}
	.is-accordion-submenu-parent:not(.has-submenu-toggle) > a {
		width: 100%;
	}
}

header.site-header {
	position: fixed;
	z-index: 55555;
	top: 0;
	left: 0;
	width: 100vw;
	transition: transform .4s ease;
	
	@include breakpoint(tablet down) {
		top: 8px;
		.top-bar-wrap.grid-container {
			padding-right: rem-calc(8);
			padding-left: rem-calc(8);
		}	
		.top-bar {
			padding: 1.15rem 1rem;
		}
	}
	
	.top-bar {
		position: relative;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $white;
			border-radius: 32px;
			height: 0;
			width: 90%;
			border: 0px solid transparent; 
			transition: border-width .2s ease, width .4s ease, height .4s ease .2s;
		}
		&:after {
			background-color: $blue-100;
		}
		.top-bar-left {
			width: auto;
			flex: 0 0 auto;
		}
	}
	
	#top-bar-menu {
				
		.logo {
			.bith-logo-text {
				transition: fill .3s ease;
			}
			a {
				padding: 0;
			}			
		}
			
		#main-nav {
			align-items: center;
			li {
				border-radius: 1rem;
			}
			
			>li {
				margin: 0 .5rem 0rem;
				> a {
					background: transparent;
				}	
			&.menu-button {
				margin-top: 0;
				width: auto;
				text-align: center;
				> a {
					width: auto;
				}
			}
			&.menu-item-has-children {
				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 206px;
					height: 0;
					background: transparent;
				}
				&:hover {
					&:after {
						height: 36px;
					}
				}
				ul.submenu {
					top: calc(100% + 28px) !important;
					li {
						a {
							color: $blue-100;
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    #menu-toggle {
			    padding: 0;
			    width: 44px;
			    height: 44px;
				border-radius: 12px;
			    position: relative;
			    background-color: $green-100;
				padding: rem-calc(10);
			    span {
				    position: absolute;
				    left: 13px;
				    right: auto;
				    width: 18px;
				    height: 2px;
					border-radius: 2px;
				    background-color: $onyx;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 15px;
				    }

				    &:nth-child(2) {
					    top: 21px;
				    }
				    
				    &:nth-child(3) {
					    top: 27px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	&.has-bith-white-color {
		#top-bar-menu #main-nav {
			>li {
				> a {
					color: $white;
					&:hover {
						background: $onyx;
					}
				}	
			}
		}
	}
	&.has-bith-blue-color,
	&.has-bith-blue-color:has(.entry-content > .section-block-wrapper.has-bith-white-color) {
		#top-bar-menu {
			.logo .bith-logo-text {
				fill: $blue-100;
			}
			#main-nav {
				>li {
					> a {
						color: $blue-100;
						&:hover {
							background: $green-60;
						}
					}	
					&.is-dropdown-submenu-parent > a::after {
						background-image: url('../assets/svgs/dropdown-chev-blue-icon.svg'); 
					}
					&.menu-button {
						a {
							background-color: $blue-100;
							color: $white;
							&:not(.acf-button):before {
								background-color: $blue-100;
							}
							&:hover,
							&:focus {
								background-color: $green-100 !important;
								color: $blue-100;
								&:not(.acf-button):before {
									background-color: $green-100 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.has-scrolled {
	header.site-header {
		transform: translateY(12px);
		.top-bar {
			position: relative;
			&:before {
				height: var(--header-height);
				height: 100%;
				width: 100%;
				border-width: 1px;
				border-color: $black-30;
				transition: border-width .2s ease, width .4s ease, height .4s ease .1s;
			}
		}
		.logo {
			.bith-logo-text {
				fill: $blue-100;
			}
		}
		#top-bar-menu #main-nav.dropdown.menu > li {
			> a {
				color: $blue-100;
				&:hover,
				&:active {
					color: $white;
				}
			}
			&.is-dropdown-submenu-parent > a {
				&:after {
					background-image: url('../assets/svgs/dropdown-chev-blue-icon.svg');
				}
				&:hover {
					&:after {
						background-image: url('../assets/svgs/dropdown-chev-white-icon.svg');
					}
				}
			}
			&.menu-button {
				a {
					background-color: $blue-100;
					color: $white;
					&:not(.acf-button):before {
						background-color: $blue-100;
					}
					&:hover,
					&:focus {
						background-color: $green-100 !important;
						color: $blue-100;
						&:not(.acf-button):before {
							background-color: $green-100 !important;
						}
					}
				}
			}
		}
	}
	header.site-header.has-bith-blue-color {
		#top-bar-menu #main-nav.dropdown.menu > li {
			> a {
				color: $blue-100;
			}
			&.is-dropdown-submenu-parent > a {
				&:after {
					background-image: url('../assets/svgs/dropdown-chev-blue-icon.svg');
				}
			}
			&.menu-button {
				a {
					background-color: $blue-100;
					color: $white;
					&:not(.acf-button):before {
						background-color: $blue-100;
					}
					&:hover,
					&:focus {
						background-color: $green-100 !important;
						color: $blue-100;
						&:not(.acf-button):before {
							background-color: $green-100 !important;
						}
					}
				}
			}
		}
	}
}

// .off-canvas-transitioning {
// 	header.site-header .top-bar:before {
// 		z-index: -1;
// 	}
// }
.is-off-canvas-open {
	header.site-header {
		.top-bar:after {
			background-color: $blue-100;
			height: var(--header-height);
			height: 100%;
			width: 100%;
			border-width: 1px;
			border-color: transparent;
			transition: border-width .2s ease, width .4s ease, height .4s ease .1s;
		}
		.logo .bith-logo-text {
			fill: $white;
		}
	}
}