// Fonts
$font-serif: "PT Serif", serif;
$font-sans: "Archivo", sans-serif;
$font-mono: "JetBrains Mono", monospace;

// Colors
$onyx: var(--wp--preset--color--bith-onyx);
$fishburne: #9D9D9D;
$slate: var(--wp--preset--color--bith-slate);
$blue-100: var(--wp--preset--color--bith-blue-100);
$green-100: var(--wp--preset--color--bith-green-100);
$green-80: #C4D989;
$cube: #F4F7E5;

// Box shadows
$green-80-shadow: 0 6px 30px 0 rgba(157, 192, 59, 0.50);