.button:not(.acf-button):not([data-name='add']) {
	span {
		transition: color .35s ease;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: $button-radius;
		background-color: $primary-color;
		transform: scale(1);
		transition: background-color .35s ease, transform .35s ease;
	}
	&:hover {
		&:before {
			transform: scale(1.06);
			background-color: $cube;
			transition: background-color .35s ease, transform .35s ease;
		}
	}
	&.wide-mw-btn {
		@include breakpoint(small down) {
			width: 100%;
			max-width: 360px;
		}
	}
	&.blue-100 {
		background-color: $blue-100;
		&:before {
			background-color: $blue-100;
		}
		&:hover {
			background-color: $primary-color;
			span {
				color: $onyx !important;
			}
			&:before { 
				background-color: $primary-color;	
			}
		}
	}
}