.bg-bith-white,
.bg-bith-blue-10,
.bg-bith-white-to-cube,
.bg-bith-cube-to-white {
	.icon-link-text-card {
		.has-bith-white-color {
			color: $onyx !important;
			a,
			h3,
			p {
				color: $onyx !important;
			}
		}
	}
	.text-links {
		a {
			color: $blue-100;
		}
	}
}

.icon-link-text-card-swiper .swiper-wrapper {
	@include breakpoint(medium) {
		box-sizing: border-box;
	}
}

.icon-link-text-card {
	@include breakpoint(medium down) {
		display: flex;
		height: auto;
	}
	.inner {
		border-radius: rem-calc(32);
		padding: 2rem 1rem;
		@include breakpoint(medium) {
			height: 100%;
		}
		@include breakpoint(large) {
			border-radius: rem-calc(48);
		}
		&.has-link {
			transition: box-shadow .4s ease, background-color .4s ease;
			box-shadow: $glow-on-dark-pre-hover;
			h3,
			p {
				transition: color .4s ease;
			}
			svg {
				path {
					transition: all .4s ease;
				}
			}
			&:hover {
				box-shadow: $glow-on-dark;
				background-color: $white;
				svg path {
					stroke: $onyx;
				}
				h3,
				p {
					color: $onyx;
				}
			}
		}
	}	
	&.type-row:not(.transparent) {
		a.page-link {
			position: absolute;
			top: 0;
			left: 2rem;
			width: calc(100% - 2rem);
			height: 100%;
			border-radius: rem-calc(32);
			@include breakpoint(large) {
				border-radius: rem-calc(48);
			}
			&:hover {
				&+ div {
					.arrow-wrap {
						opacity: 1 !important;
					}
				}
			} 
		}
		.text-links {
			a {
				position: relative;
				z-index: 1;
			}
		}
		.arrow-wrap {
			transition: opacity .3s ease;
		}
	}
	.inner.transparent {
		border: 0;
		border-radius: 0;
		display: flex;
		align-items: center;
		h3 {
			color: $white;
			text-decoration: none;
			u {
				text-decoration: none;
			}
		}
	}
}