a.underline-arrow-link,
.has-underline-arrow-link a {
	color: $blue-100;
	position: relative;
	z-index: 1;
	display: inline-block;
	position: relative;
	&:before,
	&:after {
		content: '';
		display: inline-block;
	}
	&:before {
		position: absolute;
		top: calc(100% - 1px);
		width: 100%;
		height: 1px;
		background-color: $blue-100;
		transition: opacity .3s ease, width .3s ease, height .3s ease;
	}
	&:after {
		position: absolute;
		left: calc(100% + 10px);
		width: 24px;
		height: 24px;
		background-image: url('../assets/svgs/underline-link-arrow-blue-icon.svg');
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0;
		transition: opacity .3s ease;
	}
	&:hover {
		color: $blue-100;
		&:before {
			width: calc(100% + 30px);
			height: .5px;
			opacity: 0;
			transition: opacity .6s ease, width .6s ease, height .6s ease;
		}
		&:after {
			opacity: 1;
		}
	}
}
.has-bith-white-color {
	a.underline-arrow-link,
	.has-underline-arrow-link a {
		color: $green-30;
		&:before {
			background-color: $green-30;
		}
		&:after {
			background-image: url('../assets/svgs/underline-link-arrow-white-icon.svg');
		}
		&:hover {
			color: $green-30;
			&:after {
				opacity: 1;
			}
		}
	}
}